.img {
    width: 350px;
}

img {
    position: absolute;
    z-index: -1;
}

.otherInfo {
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.title {
    color: white;
}

.location {
    padding: 15px 20px 0 30px;
    display: inline-block;
}

.warning {
    background-color: red;
    border-radius: 10px;
    float: right;
    padding: 5px;
    margin-top: 10px;
    margin-right: 20px;
    font-weight: bold;
}

.weatherInfo {
    margin: 10px 0 20px 45px;
    height: 100px;
}

.tempDiv, .weatherDiv {
    float: left;
}

.tempDiv {
    margin-top: 10px;
    font-size: 32px;
    line-height: 30px;
}

.aqiDiv {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    font-size: 24px;
}

.weatherDiv {
    margin-left: 25px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.living {
    height: 50px;
    line-height: 50px;
}

.livingIndex, .livingValue, .livingAdvice {
    text-align: center;
    float: left;
}

.livingValue {
    width: 150px;
}

.livingAdvice, .livingIndex {
    width: 100px;
}

.weather i {
    margin: 0 5px;
}

.body {
    background-color: white;
    font-weight: bold;
}